* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    gap: 0px 0px;
    grid-template-areas:
        "navBar"
        "main"
        "footer";
}

.header_container {
    grid-area: navBar;
    min-height: 4rem;
}

.main_container {
    grid-area: main;
    margin-bottom: 3rem;
}

/* HEADER */

.navbar_container {
    display: flex;
    justify-content: space-around;
}

.logo_brand {
    margin-left: 1.2rem;

    width: 100px;
    height: 100px;
    transition: .25s all ease-in-out;
}

.logo_brand:hover {
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.279));
}

.navbar-nav {
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin: 1.3rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 0.134));
    transition: 1.8s all ease-in-out;
}

.nav-link:hover {
    filter: drop-shadow(2px 5px 10px rgba(0, 0, 0, 0.232));
}

.btn_donate {
    font-family: 'Poppins', sans-serif;
    width: 8rem;
    display: flex;
    justify-content: center;
    margin: auto 0 auto 1.5rem;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    text-decoration: none;
    padding: .5rem;
    transition: .25s all ease-in-out;
    box-shadow: 2px 5px 18px rgba(0, 0, 0, 0.134);
}

.btn_donate:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.525);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.346);
}

/* FOOTER */

.footer_container {
    grid-area: footer;
}

.footer_container {
    height: auto;
    background: rgb(233, 233, 233);
    background: linear-gradient(0deg, rgba(233, 233, 233, 1) 10%, #38b1c1 100%);
}

.footer {
    overflow: hidden;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.8fr 0.1fr 3.1fr 0.1fr 1fr;
    gap: 0px 0px;
}

.footer_img {
    width: 200px;
    height: 200px;
    margin: 4rem;
}

.footer_img-container {
    display: flex;
    justify-content: center;
}

.footer_text {
    display: flex;
    justify-content: center;
}

.footer_text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_tittle {
    margin: 5.5rem 3rem 3rem 3rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

.footer_subtittle {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.787);
    transition: .2s all ease-in-out;
}

.footer_subtittle:hover {
    color: rgb(0, 0, 0);
}

.footer_copyRight {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    margin: .5rem;
}

.footer_stick {
    width: 2px;
    margin: 2rem 0 .5rem 0;
    background-color: white;
}

.footer_socialNetworks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container-icons {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_icon {
    font-size: 2rem;
    margin: .5rem;
    color: rgba(0, 0, 0, 0.787);
    transition: .2s all ease-in-out;
}

.footer_icon:hover {
    color: black;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.158));
}

.footer_tittle-icons {
    font-family: 'Poppins', sans-serif;
    margin: 0 2rem;
    font-size: 1rem;
    text-align: center;
}

.decoration {
    text-decoration: none;
}

/* CARD */

.cardList {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.card_container {
    margin: 2rem;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.144);
    overflow: hidden;
    transition: all .25s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.173);
}

.card_container:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.379);
}

.card_text {
    width: 250px;
    padding: 11rem 20rem 4rem 20rem;
    text-align: center;
    position: relative;
    right: 0;
    transition: .25s all ease-in-out;
}

.card_text:hover {
    right: 20rem;
}

.card_container-images {
    margin: 2rem;
    width: 1028px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.144);
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.173);
    transition: all .25s ease-in-out;
}

.card_container-images:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.379);
}

.card_text-images {
    width: 250px;
    padding: 20rem 59.3rem 2rem 5rem;
    text-align: center;
    position: relative;
    bottom: 0;
    transition: .25s all ease-in-out;
}

.card_text-images:hover {
    bottom: 10rem;
}

.card_text-tittle {
    margin-bottom: .3rem;
    width: 300px;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

.card_text-content {
    width: 300px;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

/* CAROUSEL */
.carousell {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
    position: relative;
}

.content-container {
    position: absolute;
    bottom: 35%;
    left: 28%;
    z-index: 10;
}

.content-container {
    left: 28%;
}

.wave_container {
    position: absolute;
    width: 100%;
    bottom: -5rem;
    z-index: 9;
    overflow: hidden;
}

.Imagen1 {
    background-color: rgba(255, 0, 0, 0.388);
    width: 100%;
    height: 85vh;
}

.Imagen2 {
    background-color: rgba(255, 247, 0, 0.388);
    width: 100%;
    height: 85vh;
}

.Imagen3 {
    background-color: rgba(38, 255, 0, 0.388);
    width: 100%;
    height: 85vh;
}

.Imagen4 {
    background-color: rgba(0, 255, 217, 0.388);
    width: 100%;
    height: 85vh;
}

.Imagen5 {
    background-color: rgba(0, 30, 255, 0.388);
    width: 100%;
    height: 85vh;
}

.Imagen6 {
    background-color: rgba(255, 0, 242, 0.388);
    width: 100%;
    height: 85vh;
}

.context_text {
    width: 50%;
    font-family: 'Indie Flower', cursive;
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}

.btn_donate-large {
    font-size: 1.7rem;
    padding: .2rem 1.5rem .4rem;
    border-radius: 22px;
    border: 0;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.403);
    transition: all .1s ease-in-out;
}

.btn_donate-large:hover {
    box-shadow: 8px 12px 15px rgba(0, 0, 0, 0.446);
}
@media screen and (max-width: 1700px) {
    .content-container {
        left: 26%;
    }
}

@media screen and (max-width: 1600px) {
    .content-container {
        left: 24%;
    }
}

@media screen and (max-width: 1500px) {
    .content-container {
        left: 23%;
    }
}

@media screen and (max-width: 1440px) {
    .footer_img {
        width: 180px;
        height: 180px;
    }

    .content-container {
        left: 22%;
    }
}

@media screen and (max-width: 1370px) {
    .cardList {
        width: 90%;
    }

    .content-container {
        left: 20%;
    }
}

@media screen and (max-width: 1364px) {
    .card_container-images {
        width: 300px;
    }

    .card_text-images {
        width: 250px;
        padding: 20rem 59.3rem 0rem 0rem;
        text-align: center;
        position: relative;
        bottom: 0;
        transition: .25s all ease-in-out;
    }

    .content-container {
        bottom: 25%;
    }

    .cardList {
        width: 80%;
    }
}

@media screen and (max-width: 1358px) {
    .footer {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "Logo SocialNetworks"
            "Text Text";
    }

    .footer_img {
        grid-area: Logo;
        width: 200px;
        height: 200px;
    }

    .footer_socialNetworks {
        grid-area: SocialNetworks;
    }

    .footer_text {
        grid-area: Text;
    }

    .footer_img {
        margin: 4rem auto;
        width: 200px;
        height: 200px;
    }

    .footer_container-icons {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer_tittle {
        margin: 2rem 3rem;
    }

    .footer_tittle-icons {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1250px) {
    .content-container {
        left: 18%;
    }
}

@media screen and (max-width: 1200px) {
    .nav-link {
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.134));
    }

    .nav-link:hover {
        width: auto;
        display: flex;
        justify-content: center;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.404);
        text-decoration: none;
        padding: .5rem;
        box-shadow: 2px 5px 18px rgba(0, 0, 0, 0.134);
    }

    .btn_donate {
        margin: 1rem 0 2rem 0;
    }
}

@media screen and (max-width: 1107px) {
    .content-container {
        bottom: 20%;
    }

    .wave_container {
        bottom: -1.5rem;
    }
}

@media screen and (max-width: 900px) {

    .wave_container {
        bottom: -1.2rem;
    }
}

@media screen and (max-width: 828px) {
    .footer_tittle {
        font-size: 1.1rem;
    }

    .footer_subtittle {
        font-size: 1rem;
    }

    .content-container {
        bottom: 15%;
    }

    .wave_container {
        bottom: -1rem;
    }
}

@media screen and (max-width: 790px) {
    .wave_container {
        bottom: -.5rem;
    }
}

@media screen and (max-width: 670px) {
    .wave_container {
        bottom: -1rem;
    }

    .context_text {
        width: 70%;
    }
}

@media screen and (max-width: 571px) {
    .footer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "Logo"
            "Text"
            "SocialNetworks";
    }

    .footer_img {
        grid-area: Logo;
    }


    .footer_text {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "conocenos conocenos conocenos"
            "quieroSerParte quieroSerParte quieroSerParte"
            "quieroDonar quieroDonar quieroDonar";
        grid-area: Text;
    }

    .conocenos {
        grid-area: conocenos;
    }

    .quieroSerParte {
        grid-area: quieroSerParte;
    }

    .quieroDonar {
        grid-area: quieroDonar;
    }

    .footer_socialNetworks {
        grid-area: SocialNetworks;
    }

    .footer_tittle {
        font-size: 1.2rem;
    }

    .footer_subtittle {
        font-size: 1.1rem;
    }

    .footer_copyRight {
        font-size: .7rem;
    }

    .footer_socialNetworks {
        margin: 3.8rem auto -2rem;
    }

    .footer_img {
        margin-bottom: .5rem;
    }

    .footer_container-icons {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer_tittle {
        margin: 2rem 3rem;
    }

    .card_container {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 464px) {
    .footer_copyRight {
        font-size: .7rem;
        text-align: center;
    }

    .wave_container {
        bottom: -1rem;
    }

    .context_text {
        width: 90%;
    }

    .card_container {
        margin: 2rem 0;
    }

    .card_container-images {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 376px) {
    .cardList {
        width: 100%;
    }

    .card_container {
        width: 250px;
        height: 250px;
    }

    .card_container-images {
        width: 250px;
        height: 250px;
    }


    .card_text-tittle {
        font-size: 1.6rem;
        width: 250px;
    }

    .card_text-content {
        margin: auto;
        width: 230px;
    }

    .card_text {
        padding: 7rem 20rem 4rem 20.5rem;
    }

    .card_text-images {
        padding: 17rem 59.3rem 2rem .8rem;
    }
}