* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    gap: 0px 0px;
    grid-template-areas:
        "navBar"
        "main"
        "footer";
}

.navbar {
    background: linear-gradient(89.89deg, #87ECFA -14.89%, #02A4DF 102.52%);
    min-height: 6rem;

}

.header_container {
    grid-area: navBar;
    min-height: 4rem;
}

.main_container {
    grid-area: main;
    overflow: visible;
}


/* HEADER */

.navbar_container {
    display: flex;
    justify-content: space-around;
}

.logo_brand {
    position: absolute;
    left: 1.2rem;
    top: 0rem;
    width: 100px;
    height: 100px;
    transition: .25s all ease-in-out;
}

.logo_brand:hover {
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.279));
}

.navbar-nav {
    width: 55%;
    min-width: 1010px;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
}

.whiteFont {
    color: white;
}

.nav-link {
    color: white !important;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-weight: 400;
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 0.134));
    transition: 1.8s all ease-in-out;
}

.btn_donate {
    font-family: 'Poppins', sans-serif;
    width: 8rem;
    text-align: center;
    margin: auto 0 auto;
    border-radius: 25px;
    background-color: #F9FFFE;
    color: #007C71;
    font-weight: 1000;
    text-decoration: none;
    padding: .5rem;
    transition: .25s all ease-in-out;
    box-shadow: 2px 5px 18px rgba(0, 0, 0, 0.134);
}

.btn_donate:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.525);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.346);
}

.btn_donate-statick {
    font-family: 'Poppins', sans-serif;
    width: 8rem;
    display: flex;
    justify-content: center;
    margin: auto 0 auto 1.5rem;
    border-radius: 25px;
    background-color: #F9FFFE;
    color: #007C71;
    font-weight: 1000;
    text-decoration: none;
    padding: .5rem;
    text-align: center;
    transition: .25s all ease-in-out;
    box-shadow: 2px 5px 18px rgba(0, 0, 0, 0.134);
}

/* FOOTER */



.footer_container {
    grid-area: footer;
    height: auto;
    background: linear-gradient(92.98deg, #87ECFA 7.01%, #02A4DF 100%);
}

.footer {
    overflow: hidden;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.8fr 0.1fr 3.1fr 0.1fr 1fr;
    gap: 0px 0px;
}

.footer_img {
    width: 200px;
    height: 200px;
    margin: 4rem;
}

.footer_img-container {
    display: flex;
    justify-content: center;
}

.footer_text {
    display: flex;
    justify-content: center;
}

.footer_text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_tittle {
    margin: 5.5rem 3rem 3rem 3rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

.footer_subtittle {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.787);
    transition: .2s all ease-in-out;
}

.footer_subtittle:hover {
    color: rgb(0, 0, 0);
}

.footer_copyRight {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    margin: .5rem;
}

.footer_stick {
    width: 2px;
    margin: 2rem 0 .5rem 0;
    background-color: white;
}

.footer_socialNetworks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container-icons {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_icon {
    font-size: 2rem;
    margin: .5rem;
    color: rgba(0, 0, 0, 0.787);
    transition: .2s all ease-in-out;
}

.footer_icon:hover {
    color: black;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.158));
}

.footer_tittle-icons {
    font-family: 'Poppins', sans-serif;
    margin: 0 2rem;
    font-size: 1rem;
    text-align: center;
}

.decoration {
    text-decoration: none;
}

/* CARD */

.cardList_container {
    width: 100%;
    overflow: hidden;
}

.cardList {
    margin: 6rem auto 6rem;
    padding-top: -6rem;
    position: relative;
    z-index: 1;
    width: 55%;
    min-width: 1010px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 3rem 3rem;
    grid-template-areas:
        "history proyect"
        "gallery gallery";
}

.gallery {
    grid-area: gallery;
}

.history {
    grid-area: history;
}

.proyect {
    grid-area: proyect;
}

.card_container {
    border-radius: 24px;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: rgb(193, 193, 193);
    overflow: hidden;
    transition: all .25s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.173);
}

.card_container:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.379);
}

.card_container-images {
    border-radius: 24px;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: rgb(193, 193, 193);
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.173);
    transition: all .25s ease-in-out;
}

.card_container-images:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.379);
}

.card_text {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 22rem 0rem 6rem 0rem;
    text-align: center;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
    transition: .25s all ease-in-out;
}

.card_text:hover {
    bottom: 9rem;
}

.card_text-tittle {
    margin: 0 auto;
    width: 300px;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

.card_text-content {
    width: 300px;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}


.card_img {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* MAIN-HEADER */
.carousell {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
    position: relative;
}

.main_header-page {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 5rem;
    position: relative;
}

.content--img {
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
}

.content-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 1010px;
    position: absolute;
    bottom: 35%;
    z-index: 10;
}

.context_tittle-page {
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 10;
    color: #095F58;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}

.context_tittle {
    color: white;
    width: 75%;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin-bottom: 1rem;
}

.context_text {
    color: white;
    width: 75%;
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
    margin-bottom: 1rem !important;
}

.main_header-img {
    object-fit: cover;
    width: 100%;
    height: 448px;
}

.wave_container {
    position: absolute;
    width: 100%;
    bottom: -5rem;
    z-index: 2;
    overflow: hidden;
}

.header_filter {
    position: absolute;
    z-index: 1;
    background-color: rgba(202, 246, 249, 0.67);
    width: 100%;
    height: 100%;
}

.btn_donate-large {
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 0.77);
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    padding: .8rem 3rem .8rem;
    border-radius: 30px;
    border: 0;
    background-color: #0393C8;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.403);
    transition: all .1s ease-in-out;
}

.btn_donate-large:hover {
    box-shadow: 8px 12px 15px rgba(0, 0, 0, 0.446);
}

/* SUPPORT */

.support_logo {
    position: absolute;
    left: 5%;
    padding-top: 2rem;
    width: 150px;
    height: auto;
}

.supp_container {
    width: 100%;
    height: auto;
    background-image: url(../images/support/donacion.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.support {
    margin: auto;
    padding: 5rem 0 5rem;
    width: 55%;
    min-width: 1010px;
}

.support_card {
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.73);
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.412);
    min-width: 250px;
}

.support_tittle {
    margin: 0 auto 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .8rem 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.73);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.412);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #38B0C1;
}

.support_tittle-cards {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
    color: #0393C8;
}

.support_item-cards {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
    color: black;
}

.support_container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "voluntariado apoyoEconomico"
        "apoyoIntelectual apoyoEconomico";
}

.voluntariado {
    grid-area: voluntariado;
}

.apoyoIntelectual {
    grid-area: apoyoIntelectual;
}

.apoyoEconomico {
    grid-area: apoyoEconomico;
}

.mercadoPago_container {
    margin: 1rem 0 0;
    align-items: flex-start;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "qr cbu";
}

.qr {
    grid-area: qr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cbu {
    grid-area: cbu;
}

.mP_icon {
    width: 12rem;
}

.qr_icon {
    margin: 1rem;
    width: 11rem;
}

.cbu_tittle {
    color: #0393C8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    margin-bottom: 1.8rem;
}

.cbu_type {
    color: #0393C8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: .9rem;
    line-height: 18px;
}

.cbu_description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: .9rem;
    line-height: 18px;
    padding-left: .5rem;
    color: black;
}

.b {
    color: black;
}

.b:hover {
    color: black;
}

.tittle_icon {
    margin-left: .4rem;
    margin-bottom: .2rem;
}

/*CONTACTO*/

.user_contact {
    padding-top: 5rem;
    margin-top: -5rem;
}

.contact_content {
    width: 60%;
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #095F58;
}

.contact-container {
    position: absolute;
    bottom: 50%;
    margin: auto;
    z-index: 10;
}

.Imagen1_contacto {
    background-color: rgba(227, 29, 29, 0.388);
    object-fit: cover;
    width: 100%;
    height: 85vh;
}

.contact_icon {
    font-size: 2rem;
    margin: .5rem .9rem;
    color: rgba(0, 0, 0, 0.787);
    transition: .2s all ease-in-out;
    color: #38B0C1;
}

.contact_content-container {
    margin: 10rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "logo social";
}

.logo {
    margin: auto;
    grid-area: logo;
}

.contact_content-icons {
    grid-area: social;
}

.contact_content-icons {
    display: flex;
    flex-direction: column;
}

.contact_logo-img {
    width: 300px;
    height: 300px;
}

.contact_icon-description {
    font-size: 1.2rem;
    color: black;
    margin-bottom: .3rem;
}

.band {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 80%;
    z-index: -2;
}

.contact_social {
    margin-bottom: 10rem;
}

.row {
    width: 100%;
}

.gallery_container {
    width: 80%;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery_container-img {
    width: 300px;
    display: flex;
    justify-content: center;
}

.gallery_container-img:hover {
    transform: scale(1.009);
}

.productos_img {
    cursor: pointer;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 1.2rem;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}

.modal-body {
    padding: 2px;
    border-radius: 4px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.72);
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
    width: auto !important;
}

.productos_img-modal {
    width: 80vh;
    height: 80vh;
    object-fit: cover;
}

/* NUESTRA HISTORIA */
p {
    margin-bottom: 0 !important;
}

.text_video {
    position: relative;
    bottom: 1.5rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}

.video {
    position: absolute;
    left: 10%;
    width: 424px;
}

.line1 {
    position: relative;
    bottom: 8rem;
    left: 8.5rem;
    margin-bottom: -10.5rem;
}

.line2 {
    position: relative;
    top: .5rem;
    right: 8rem;
    margin-bottom: -4.5rem;
}

.line3 {
    position: relative;
    bottom: 6rem;
    left: 8.5rem;
    margin-bottom: -6rem;
}

.line4 {
    position: relative;
    top: .5rem;
    left: 4rem;
    margin-bottom: -3rem;
}

.line5 {
    position: relative;
    bottom: 3rem;
    left: 4rem;
    margin-bottom: -2rem;
}

.line6 {
    position: relative;
    top: .5rem;
    left: 3.5rem;
    margin-bottom: -3rem;
}

.line7 {
    position: relative;
    bottom: 3.5rem;
    left: 1rem;
    margin-bottom: -2.5rem;
}

.year19 {
    width: max-content;
    position: relative;
    left: 20%;
}

.year20 {
    width: max-content;
    position: relative;
    left: 55%;
}

.year21 {
    width: max-content;
    position: relative;
    left: 55%;
}

.year22 {
    width: max-content;
    position: relative;
    left: 50%;
}

.history_tittle {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 58px;
    text-align: center;
    width: 45rem;
    margin: auto;
    text-align: center;
}

.history_line {
    width: 85%;
    margin: 5rem auto 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history_year19 {
    background: #38B0C1;
    border-radius: 30px;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 0 3rem;
}

.history_year {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
}

.history_text {
    padding: 2rem 2rem;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    width: 100%;
    height: auto;
}

.history_text19 {
    position: relative;
    left: 25%;
    color: #38B0C1;
    border-radius: 30px;
    width: 50%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.115);
}

.history_year20 {
    background: #0393C8;
    border-radius: 30px;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 4rem 0;
}

.history_text20 {
    position: relative;
    left: 45%;
    color: #0393C8;
    border-radius: 30px;
    width: 50%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.115);
}

.history_year21 {
    background: #007C71;
    border-radius: 30px;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 4rem 0;
}

.history_text21 {
    position: relative;
    left: 40%;
    color: #007C71;
    border-radius: 30px;
    width: 50%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.115);
}

.history_year22 {
    background: #00A569;
    border-radius: 30px;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 4rem 0;
}

.history_text22 {
    position: relative;
    left: 25%;
    color: #00A569;
    border-radius: 30px;
    width: 50%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.115);
}

/* NUESTRO PROYECTO */
.nuestroProyecto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 0 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "centroDia casaConvivencial";
}

.centroDia {
    margin: 0 1rem 5rem auto;
    width: 745px;
    height: 976px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    grid-area: centroDia;
}

.centroDia_content {
    display: flex;
    flex-direction: column;
}

.logo_card {
    margin: 2rem auto 0;
}

.centroDia_title {
    margin: auto;
    margin-top: 1rem;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #0393C8;
}

.centroDia_subtitle {
    margin: auto;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #0393C8;
}

.arrow1 {
    margin: auto;
    margin-bottom: -1rem;
}

.arrow2 {
    margin: auto;
}

.arrow3 {
    margin: auto;
    position: relative;
    right: 40%;
    bottom: 4rem;
}

.arrow4 {
    margin: auto;
    position: relative;
    left: 41%;
}

.centroDia_item1 {
    margin: 1rem auto 0;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    background: rgba(56, 176, 193, 0.04);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 691px;
}

.centroDia_item2 {
    margin: 2rem auto 1rem !important;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #38B0C1;
}

.centroDia_item3 {
    margin: -4.5rem auto 0;
    padding: 1.5rem;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    background: rgba(56, 176, 193, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 561px;
}

.centroDia_item4 {
    margin: 0 auto 0 !important;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #38B0C1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 610px;
    height: 86px;
    display: flex;
    align-items: center;
}



.casaConvivencial {
    margin: 0 auto 5rem 1rem;
    width: 745px;
    height: 976px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    grid-area: casaConvivencial;
}

.casaConvivencial_content {
    display: flex;
    flex-direction: column;
}

.casaConvivencial_title {
    margin: auto;
    margin-top: 1rem;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #007C71;
}

.casaConvivencial_subtitle {
    margin: auto;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #007C71;
}

.arrow5 {
    margin: .5rem auto .2rem;
}

.arrow6 {
    margin: auto;
    position: relative;
    right: 43%;
    bottom: 5rem;
}

.arrow7 {
    margin: auto;
    position: relative;
    left: 40%;
    bottom: .5rem;
}

.casaConvivencial_item1 {
    margin: 1rem auto 0;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    background: #DEFAF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 691px;
}

.casaConvivencial_item2 {
    margin: 2rem auto 1rem !important;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #00A569;
}

.casaConvivencial_item3 {
    margin: -6rem auto 0;
    padding: 1.5rem;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    background: rgba(0, 165, 105, 0.39);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 584px;
}

.casaConvivencial_item4 {
    margin: -2rem auto 0 !important;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #00A569;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 538px;
    height: 116px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1700px) {
    .context_text {
        width: 80%;
    }

    .band {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100vh;
        z-index: -2;
    }
}

@media screen and (max-width: 1670px) {
    .support_logo {
        left: 3%;
    }
}

@media screen and (max-width: 1630px) {
    .nuestroProyecto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 2rem 0;
        grid-auto-flow: row;
        grid-template-areas:
            "centroDia"
            "casaConvivencial";
    }

    .centroDia {
        grid-area: centroDia;
        margin: 0 auto 5rem;
    }

    .casaConvivencial {
        grid-area: casaConvivencial;
        margin: 0 auto 5rem;
    }

}

@media screen and (max-width: 1600px) {
    .context_text {
        width: 70%;
    }
}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1440px) {
    .footer_img {
        width: 180px;
        height: 180px;
    }

    .support_logo {
        left: 1%;
    }

    .video {
        left: 8%;
    }
}

@media screen and (max-width: 1364px) {
    .content-container {
        width: 80%;
        min-width: 300px;
    }

    .card_container-images {
        width: 100%;
    }

    .card_text-images {
        width: 250px;
        padding: 20rem 59.3rem 0rem 0rem;
        text-align: center;
        position: relative;
        bottom: 0;
        transition: .25s all ease-in-out;
    }

    .content-container {
        bottom: 25%;
    }

    .navbar-nav {
        width: 80%;
        min-width: 300px
    }

    .cardList {
        width: 80%;
        min-width: 300px;
    }

    .support {
        width: 80%;
    }

    .support_container {
        width: 100%;
        height: min-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-columns: 1fr;
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas:
            "apoyoEconomico"
            "voluntariado"
            "apoyoIntelectual";
    }

    .voluntariado {
        grid-area: voluntariado;
    }

    .apoyoIntelectual {
        grid-area: apoyoIntelectual;
    }

    .apoyoEconomico {
        grid-area: apoyoEconomico;
    }

    .support {
        width: 55%;
        min-width: none;
    }

    .support_card {
        width: 100%;
    }

    .support_container {
        justify-content: center;
    }

    .support_logo {
        display: none;
    }

    .cardList {
        margin: 6rem auto 4rem;
    }
}

@media screen and (max-width: 1358px) {
    .footer {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "Logo SocialNetworks"
            "Text Text";
    }

    .footer_img {
        grid-area: Logo;
        width: 200px;
        height: 200px;
    }

    .footer_socialNetworks {
        grid-area: SocialNetworks;
    }

    .footer_text {
        grid-area: Text;
    }

    .footer_img {
        margin: 2rem auto;
        width: 200px;
        height: 200px;
    }

    .footer_container-icons {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: cennter;
    }

    .footer_tittle {
        margin: 2rem 3rem;
    }

    .footer_tittle-icons {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1250px) {

    .support {
        width: 80%;
        min-width: 300px;
    }
}

@media screen and (min-width: 1198px) {
    .none {
        display: none;
    }

    .notNone {
        display: block;
    }
}

@media screen and (max-width: 1199px) {
    .nav-link {
        color: #0393C8 !important;
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.134));
    }

    .btn_donate {
        margin: 1rem 0 2rem 0;
    }

    .btn_donate-statick {
        margin: auto 6rem auto 0;
    }

    .navbar {
        background: linear-gradient(189.47deg, rgba(56, 176, 193, 0.39) 7.15%, rgba(217, 217, 217, 0) 129.93%);
    }

    .none {
        display: block;
        position: absolute;
        right: 2rem;
        top: 1.8rem;
    }

    .item_margin-top {
        margin-top: 6rem;
    }

    .item_margin-bottom {
        margin-bottom: 2rem;
    }

    .notNone {
        display: none;
    }

    .navbar-toggler {
        position: absolute;
        right: 2rem;
        top: 1.8rem;

    }

    .navbar-compact {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 1107px) {
    .content-container {
        bottom: 30%;
    }

    .wave_container {
        bottom: -1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .video {
        left: 5%;
    }
}

@media screen and (max-width: 900px) {
    .contact_content {
        width: 80%;
    }

    .wave_container {
        bottom: -1.2rem;
    }

    .video {
        display: none;
    }

    .year19 {
        left: 20%;
    }

    .year20 {
        left: 40%;
    }

    .year21 {
        left: 40%;
    }

    .year22 {
        left: 35%;
    }

    .history_text19 {
        left: 0;
        margin: auto;
        width: 100%;
    }

    .history_text20 {
        left: 0;
        margin: auto;
        width: 100%;
    }

    .history_text21 {
        left: 0;
        margin: auto;
        width: 100%;
    }

    .history_text22 {
        left: 0;
        margin: auto;
        width: 100%;
    }

    .line1 {
        position: relative;
        bottom: 4.5rem;
        left: 6.5rem;
        margin-bottom: -10.5rem;
        transform: rotate(30deg);
    }

    .history_tittle {
        font-family: 'Indie Flower';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 30px;
        text-align: center;
        width: 80%;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 828px) {
    .footer_tittle {
        font-size: 1.1rem;
    }

    .footer_subtittle {
        font-size: 1rem;
    }

    .content-container {
        top: 15%;
    }

    .wave_container {
        bottom: -1rem;
    }

}

@media screen and (max-width: 790px) {
    .wave_container {
        bottom: -.5rem;
    }

    .centroDia {
        width: 90%;
        height: max-content;
    }


    .centroDia_item1 {
        width: 90%;
        padding: .5rem .5rem;
    }

    .centroDia_item3 {
        width: 75%;
    }

    .centroDia_item4 {
        padding: .5rem .5rem;
        width: 85%;
        height: max-content !important;
        margin: 0rem auto 1.5rem !important;
    }

    .casaConvivencial {
        width: 90%;
        height: max-content;
    }

    .casaConvivencial_item1 {
        width: 90%;
        padding: .5rem .5rem;
    }

    .casaConvivencial_item3 {
        width: 75%;
    }

    .casaConvivencial_item4 {
        width: 90%;
        padding: .5rem .5rem;
        height: max-content !important;
        margin: 0rem auto 1.5rem !important;
    }

    .arrow6 {
        margin: auto;
        position: relative;
        right: 38%;
        bottom: 5rem;
    }

    .arrow7 {
        margin: auto;
        position: relative;
        left: 37%;
        top: .2rem;
    }

    .numberAcc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .main_container {
        margin-bottom: 0rem;
    }

    .support_tittle {
        font-size: 22px;
        line-height: 31px;
    }

    .supp_container {
        background-image: none;
    }

    .card_text {
        position: absolute;
        bottom: -3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgb(255, 255, 255);
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
    }

    .card_text:hover {
        bottom: -3rem;
    }

    .support {
        padding: 0 0 3rem;
    }

    .band {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .mercadoPago_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "qr"
            "cbu";
    }

    .qr {
        grid-area: qr;
    }

    .cbu {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: cbu;
        margin-bottom: 1.5rem;
    }

    .numberAcc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .wave_container {
        bottom: -1rem;
    }

    .context_text {
        width: 70%;
    }

    .cardList {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-auto-columns: 1fr;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-areas:
            "history"
            "proyect"
            "gallery";
    }

    .gallery {
        grid-area: gallery;
    }

    .proyect {
        grid-area: proyect;
    }

    .history {
        grid-area: history;
    }

    .contact_content-container {
        margin: 2rem auto 4rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "logo"
            "social";
    }

    .logo {
        grid-area: logo;
    }

    .contact_content-icons {
        margin: 1rem auto;
        grid-area: social;
    }

    .contact_social {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 571px) {
    .footer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "Logo"
            "Text"
            "SocialNetworks";
    }

    .footer_img {
        grid-area: Logo;
    }


    .footer_text {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "conocenos conocenos conocenos"
            "quieroSerParte quieroSerParte quieroSerParte"
            "quieroDonar quieroDonar quieroDonar";
        grid-area: Text;
    }

    .conocenos {
        grid-area: conocenos;
    }

    .quieroSerParte {
        grid-area: quieroSerParte;
    }

    .quieroDonar {
        grid-area: quieroDonar;
    }


    .footer_tittle {
        font-size: 1.2rem;
    }

    .footer_subtittle {
        font-size: 1.1rem;
    }

    .footer_copyRight {
        font-size: .7rem;
    }

    .footer_socialNetworks {
        grid-area: SocialNetworks;
        margin: 3.8rem auto -2rem;
    }

    .footer_img {
        margin-bottom: .5rem;
    }

    .footer_container-icons {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    .footer_tittle {
        margin: 2rem 3rem;
    }

    .casaConvivencial_subtitle {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .centroDia_subtitle {
        width: 90%;
    }

    .line_none{
        display: none;
    }

    
    .year19 {
        margin: auto;
        left: 0;
    }
    
    .year20 {
        margin: auto;
        left: 0;
    }
    
    .year21 {
        margin: auto;
        left: 0;
    }
    
    .year22 {
        margin: auto;
        left: 0;
    }

}

@media screen and (max-width: 464px) {
    .footer_copyRight {
        font-size: .7rem;
        text-align: center;
    }

    .wave_container {
        bottom: -1rem;
    }

    .context_text {
        width: 75%;
    }

}

@media screen and (max-width: 425px) {

    .cardList {
        margin: 0 auto 4rem;
    }

    .main_header-img {
        object-fit: cover;
        width: 100%;
        height: 248px;
    }

    .context_text {
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
        color: white;
        width: 95%;
        font-family: 'Indie Flower', cursive;
        font-size: 18px;
        margin-bottom: 1rem !important;
        text-align: center;
    }

    .content-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 2rem;
    }

    .context_tittle {
        width: 90%;
        font-size: 23px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .mobile_hidden {
        display: none;
    }

    .qr {
        display: none;
    }

    .numberAcc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main_container {
        margin-bottom: 0;
    }

    .navbar-toggler {
        right: 1.5rem;
        top: 29px;
    }

    .logo_brand {
        width: 80px;
        height: 80px;
        margin-left: 0rem;
        top: .5rem;
    }

    .btn_donate-statick {
        margin: auto 4rem auto 0;
    }

    .content-container {
        top: 8%;
    }

    .main_header-page {
        height: 25vh;
    }

    .context_tittle-page {
        font-size: 2.2rem;
        font-weight: 500;
    }

    .contact_logo-img {
        display: none;
    }
}

@media screen and (max-width: 376px) {

    .card_container {
        width: 100%;
    }

    .card_container-images {
        width: 100%;

    }

    .card_text-tittle {
        font-size: 1.6rem;
        width: 250px;
    }

    .card_text-content {
        margin: auto;
        width: 230px;
    }

    .card_text-images {
        padding: 17rem 59.3rem 2rem .8rem;
    }

    .main_container {
        margin-bottom: 0;
    }
}